<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginAuthFilter</filter-name>
        <filter-class>nghiadh.filters.LoginAuthFilter</filter-class>
    </filter>
    <!--    <filter>
        <filter-name>ArticleListLoadingFilter</filter-name>
        <filter-class>nghiadh.filters.ArticleListLoadingFilter</filter-class>
    </filter>-->
    <filter>
        <filter-name>CreateAccountFilter</filter-name>
        <filter-class>nghiadh.filters.CreateAccountFilter</filter-class>
    </filter>
    <!--    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>nghiadh.servlets.DispatchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>-->
    <filter>
        <filter-name>CookieLoginFilter</filter-name>
        <filter-class>nghiadh.filters.CookieLoginFilter</filter-class>
    </filter>
    <!--    <filter>
        <filter-name>ArticleLoadFilter</filter-name>
        <filter-class>nghiadh.filters.ArticleLoadFilter</filter-class>
    </filter>-->
    <filter>
        <filter-name>ArticleCreateFilter</filter-name>
        <filter-class>nghiadh.filters.ArticleCreateFilter</filter-class>
    </filter>
    <!--    <filter-mapping>
        <filter-name>ArticleLoadFilter</filter-name>
        <url-pattern>/ArticlePage.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->
    <!--    <filter-mapping>
        <filter-name>ArticleListLoadingFilter</filter-name>
        <url-pattern>/ArticleListPage.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->
    <filter>
        <filter-name>ArticleDeleteFilter</filter-name>
        <filter-class>nghiadh.filters.ArticleDeleteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CommentCreateFilter</filter-name>
        <filter-class>nghiadh.filters.CommentCreateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieLoginFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ArticleDeleteFilter</filter-name>
        <url-pattern>/ArticleDeleteServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CommentCreateFilter</filter-name>
        <url-pattern>/UserAddCommentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ArticleCreateFilter</filter-name>
        <url-pattern>/ArticleCreateServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreateAccountFilter</filter-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>nghiadh.listener.ServletContextListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ResourceNotFound.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
